<div class="w-full mt-4">
  <div class="flex gap-7 items-center">
    <div class="relative">
      <label
        class="uppercase text-left text-[17px] text-white absolute left-7 -top-4 bg-black px-5"
        >amount</label
      >
      <input
        type=""
        class="w-[42vw] border border-gray-300 rounded-md text-center bg-transparent text-gray-400 h-24 text-6xl"
      />
    </div>
    <p class="text-white font-bold text-4xl">=</p>
    <div class="text-white w-[42vw] border border-gray-300 h-24 rounded-md">
      <p>200</p>
      <p>usd</p>
    </div>
  </div>
  <app-currency-selector></app-currency-selector>
  <p class="flex flex-col text-gray-500 mt-28 text-center text-[18px]">
    Insert the amount you want to convert in the field <span>above</span>
  </p>
</div>
