<div class="flex justify-center items-center gap-8 mt-14">
  <div class="flex gap-2 justify-center border border-gray-300">
    <div
      *ngFor="let currency of currencies"
      class="text-white uppercase px-3 cursor-pointer font-semibold py-1"
      [ngClass]="{
        'bg-black text-white': selectedCurrency !== currency,
        'bg-white text-black': selectedCurrency === currency
      }"
      (click)="selectCurrency(currency)"
    >
      {{ currency }}
    </div>
  </div>
  <p class="text-white font-semibold">convert To</p>

  <div class="flex gap-2 justify-center border border-gray-300">
    <div
      *ngFor="let newCurrency of convertToCurrencies"
      class="text-white uppercase px-3 cursor-pointer font-semibold py-1"
      [ngClass]="{
        'bg-black text-white': selectedToCurrency !== newCurrency,
        'bg-white text-black': selectedToCurrency === newCurrency
      }"
      (click)="selectCurrencyToConvert(newCurrency)"
    >
      {{ newCurrency }}
    </div>
  </div>
  
</div>
